<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
   type="button"
   class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd"
         d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
      </path>
   </svg>
</button>

<aside style="position: absolute; top: 120px" id="default-sidebar"
   class="top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <ul class="space-y-2">
         <li>
            <a href="#"
               class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
               <img src="https://cdn-icons-png.flaticon.com/512/1946/1946488.png" width="25px" alt="" />
               <span class="ml-3">Inicio</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
               <img src="https://cdn-icons-png.flaticon.com/512/8867/8867250.png" width="25px" alt="" />
               <span class="flex-1 ml-3 whitespace-nowrap">Camisetas</span>
               <span
                  class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">50%
                  off</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
               <img src="https://cdn-icons-png.flaticon.com/512/8867/8867250.png" width="25px" alt="" />
               <span class="flex-1 ml-3 whitespace-nowrap">Camisetas</span>
               <span
                  class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
               <img src="https://cdn-icons-png.flaticon.com/512/1720/1720723.png" width="25px" alt="" />
               <span class="flex-1 ml-3 whitespace-nowrap">Pantalones</span>
               <span
                  class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
               <img src="https://cdn-icons-png.flaticon.com/512/2806/2806118.png" width="25px" alt="" />
               <span class="flex-1 ml-3 whitespace-nowrap">Camperas</span>
               <span
                  class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
               <img src="https://cdn-icons-png.flaticon.com/512/3086/3086204.png" width="25px" alt="" />
               <span class="flex-1 ml-3 whitespace-nowrap">Gorros</span>
               <span
                  class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
               <img src="https://cdn-icons-png.flaticon.com/512/2043/2043907.png" width="25px" alt="" />
               <span class="flex-1 ml-3 whitespace-nowrap">Calzado</span>
               <span
                  class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
               <img src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" width="25px" alt="" />
               <span class="flex-1 ml-3 whitespace-nowrap">Carrito de compras</span>
               <span
                  class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
            </a>
         </li>
      </ul>
   </div>
</aside>

<div class="hola p-4 sm:ml-64">
   <p class="text-4xl text-gray-900 dark:text-white font-semibold">Categoria</p>

   <div style="margin-top: 50px">
      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
         class="text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
         type="button">
         Ordenar por
         <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </button>
      <!-- Dropdown menu -->
      <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
         <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
               <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Más
                  nuevos</a>
            </li>
            <li>
               <a href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Precio: Menor a
                  mayor</a>
            </li>
            <li>
               <a href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Precio: Mayor a
                  menor</a>
            </li>
            <li>
               <a href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Nombre: A-Z</a>
            </li>
            <li>
               <a href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Nombre: Z-A</a>
            </li>
         </ul>
      </div>
   </div>

   <div>
      <app-card class="hola2"></app-card>
      <app-card class="hola2"></app-card>
      <app-card class="hola2"></app-card>
      <app-card class="hola2"></app-card>
      <app-card class="hola2"></app-card>
   </div>
</div>

<!-- TEST -->
<style>
   .hola {
      display: flex;
      flex-wrap: wrap;
   }

   .hola2 {
      flex-basis: 33.33%;
      max-width: 33.33%;
   }
</style>